body, html {
  height: 100%;
}

body {
  margin: 0;
}

.title {
  font-family: monospace;
  height: 32px;
  line-height: 32px;
  color: #454545;
  padding-left: 10px;
  font-size: 18px;
}

.title .github-link {
  float: right;
  font-size: 10px;
  margin-right: 10px;
}

.code-container {
  display: flex;
  height: 100%;
}

.input {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.output {
  flex: 1;
  display: flex;
}

textarea {
  flex: 1;
  border: 2px solid #ddd;
  resize: none;
  font-size: 0.9em;
}

.output textarea {
  font-size: 0.8em;
}

textarea[readonly] {
  background-color: #efefef;
}
